#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.article-preview {
    width: 100%;
}